//main_page=============================================================================================================
$main_page_tab_color: #ffffff;
$main_page_tab_color_active: #211e25;
$main_page_tab_bg: linear-gradient(to bottom, #53515e, #292830);;
$main_page_gif: url("../Images/ajax-loader.gif");
@mixin main_page_tab_icon{
	&:before {
		content: '';
		display: inline-block;
		width: 18px;
		height: 38px;
		margin-top: -2px;
		margin-right: 5px;
		background: url(../Images/sprite.svg) no-repeat -326px -176px;
		vertical-align: middle;
		transition: 0.4s ease-out;
	}
	&:nth-of-type(2):before{  background-position: -367px -176px;  }
	&:nth-of-type(3):before{  background-position: -407px -176px;  }
	&:nth-of-type(4):before{  background-position: -446px -176px;  }
	&:nth-of-type(5):before{  background-position: -486px -176px;  }
}
@mixin  main_page_tab_icon_active{
	background: #ffffff;
	box-shadow: inset 0 -30px 20px -8px rgba(0, 0, 0, 0.3);
	color: $main_page_tab_color;
	&:before{ background-position: -326px -146px; }
	&:nth-of-type(2):before{  background-position: -367px -147px;  }
	&:nth-of-type(3):before{  background-position: -407px -147px;  }
	&:nth-of-type(4):before{  background-position: -446px -147px;  }
	&:nth-of-type(5):before{  background-position: -486px -147px;  }
}

$main_page_event_title: transparentize(#ffffff, 0.2);
$main_page_event_chart_button: url(../Images/sprite.svg) no-repeat -224px -354px;
@mixin main_page_event_bg{  background: linear-gradient(to bottom, #53515e, #292830);  }
@mixin main_page_event_icon{
	&.sport:before{  background-position: -68px -276px;  }
	&.e_sport:before{  background-position: -186px -276px;  }
	&.finance:before{  background-position: -107px -276px;  }
	&.society:before{  background-position: -27px -276px;  }

	&.soccer:before{  background-position: -27px -429px;  }
	&.rugby:before{  background-position: -59px -429px;  }
	&.basketball:before{  background-position: -88px -429px;  }
	&.tennis:before{  background-position: -117px -429px;  }
	&.volleyball:before{  background-position: -147px -429px;  }
	&.hockey:before{  background-position: -176px -429px;  }
	&.baseball:before{  background-position: -207px -429px;  }
	&.boxing:before{  background-position: -237px -429px;  }
	&.horse_racing:before{  background-position: -269px -429px;  }
	&.politics:before{  background-position: -295px -429px;  }
	&.currencies:before{  background-position: -324px -429px;  }
	&.indexes:before{  background-position: -350px -429px;  }
	&.dota2:before{  background-position: -27px -465px;  }
	&.csgo:before{  background-position: -59px -465px;  }
	&.lol:before{  background-position: -85px -465px;  }

}
@mixin main_page_event_button{
	box-shadow: inset 0 18px 25px -8px rgba(255, 255, 255, 0.1);
	transition: 0.2s ease;
	&[disabled]{  cursor: default;  }
	&:not([disabled]):active {  box-shadow: inset 0 2px 25px -8px rgba(255, 255, 255, 0.3);  }
	&:after{
		z-index: 3 !important;
		&:hover:after{  opacity: 0.25 !important;  }
		&:active:after{  opacity: 0 !important;  }
	}
}
@mixin main_page_event_active{
	background: linear-gradient( to bottom, $link-color * 0.5, $link-color * 0.2);
	box-shadow: 0 0 15px 0 transparentize($link-color * 0.5, 0.2);
}
$main_page_event_opacity: 0.2;
$main_page_event_info_pl_bg: -396px -516px;
$main_page_event_info_pos_bg: -445px -516px;
@mixin pricing_plans_separate{
	border-left: 1px solid #211e25 * 1.4;
	border-right: 1px solid #211e25 * 0.6;
	&:last-child h2{  color: #4dac2e;   }
}