$my_pos_main_bg: linear-gradient(to bottom, #53515e, #292830);
$my_pos_color: transparentize(#ffffff, 0.2);
@mixin my_pos_tab_container_styles{
	position: relative;
	overflow: hidden;
	&:after{
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		background: rgb(51, 49, 58);
		position: absolute;
		bottom: 0;
		left: 321px;
	}
}
@mixin my_pos_tab{
	background: transparentize(#211e25, 0.8);
	&:not(active){  position: relative;  }
	&:nth-child(1) {
		margin: 0;
		&.active:nth-child(1):after{  width: 200%;  }
	}
	&:after{
		content: '';
		display: block;
		width: calc(100% + 12px);
		height: 1px;
		background: rgb(51, 49, 58);
		position: absolute;
		bottom: -1px;
		left: -6px;
	}
}
@mixin my_pos_active_tab{
	//background: transparent;
	background: linear-gradient(to top, transparent, #53515e * 1.1);
	border: solid 1px rgba(33, 30, 37, 0.5);
	border-bottom: transparent;
	box-shadow: none;
	&:after{  left: 100%;  }
}
$my_pos_thead_border: 1px solid #000000;
$my_pos_tr_border_color: #000000;
@mixin my_pos_td_and_button{
	&:after{
		content: '';
		display: block;
		width: 100%;
		height: 1px;
		position: absolute;
		left: 0;
		top: 0;
		background: transparentize(#ffffff, 0.9);
	}
	button {
		padding: 5px 15px;
		color: #ffffff;
		transition: 0.2s ease-out;
		&:after{  display: none;  }
		&.sell {
			background: transparentize(#ef4d22, 0.6);
			box-shadow: inset 0 16px 20px -6px transparentize(#f88447, 0.5);
			&:not([disabled]):hover{
				background: #f88447;
				box-shadow: inset 0 -16px 20px -6px transparentize(#ef4d22, 0);
			}
		}
		&.buy {
			background: transparentize(#3498da, 0.6);
			box-shadow: inset 0 16px 20px -6px transparentize(#64c9ef, 0.5);
			&:not([disabled]):hover{
				background: #64c9ef;
				box-shadow: inset 0 -16px 20px -6px transparentize(#3498da, 0);
			}
		}
		&.edit{
			background: transparentize(#4dac2e, 0.6);
			box-shadow: inset 0 16px 20px -6px transparentize(#84d65b, 0.5);
			&:not([disabled]):hover{
				background: #84d65b;
				box-shadow: inset 0 -16px 20px -6px transparentize(#4dac2e, 0);
			}
		}
		&.delete{
			width: 67px;
			background: transparentize(#ef8022, 0.6);
			box-shadow: inset 0 16px 20px -6px transparentize(#f8b747, 0.5);
			&:not([disabled]):hover{
				background: #f8b747;
				box-shadow: inset 0 -16px 20px -6px transparentize(#ef8022, 0);
			}
		}
		&.show{
			width: 67px;
			background: transparentize(#efb922, 0.6);
			box-shadow: inset 0 16px 20px -6px transparentize(#f8e547, 0.5);
			&:not([disabled]):hover{
				background: #f8e547;
				box-shadow: inset 0 -16px 20px -6px transparentize(#efb922, 0);
			}
		}
	}
}