$my_pos_main_bg: #ffffff;
$my_pos_color: #37343b;
@mixin my_pos_tab_container_styles{ border-bottom: solid 1px #dce1e6; box-shadow: inset 0 -6px 10px -9px rgba(0, 0, 0, 0.4);}
@mixin my_pos_tab{
	background: rgba(220, 225, 230, 0.3);
	&:after{
		content: '';
		width: 100%;
		position: absolute;
		left: 0;
		opacity: 0;
	}
}
@mixin my_pos_active_tab{
	background: #ffffff;
	box-shadow: 0 0 15px -2px rgba(0, 0, 0, 0.3);
	border: solid 1px #dce1e6;
	position: relative;
	&:nth-child(1) {  margin: 0;  }
	&:after{
		height: 15px;
		bottom: -9px;
		background: #ffffff;
		opacity: 1;
	}
}
$my_pos_thead_border: 2px solid #dce1e6;
$my_pos_tr_border_color: #dce1e6;
@mixin my_pos_td_and_button{
	button{
		padding: 5px 15px;
		color: #ffffff;
		&.sell {  background: linear-gradient(to bottom, #f88447, #ef4d22);  }
		&.buy {  background: linear-gradient(to bottom, #64c9ef, #3498da);  }
		&.edit{  background: linear-gradient(to bottom, #84d65b, #4dac2e);  }
		&.delete{  width: 67px; background: linear-gradient(to bottom, #f8b747, #ef8022); }
		&.show{  width: 67px; background: linear-gradient(to bottom, #f8e547, #efb922); }
	}
}