//order_sidebar=========================================================================================================
$order_sidebar_bg: #fff;
$order_sidebar_tab_color: #3498da;
$order_sidebar_head_separator: #e9eaee;
@mixin order_sidebar_tab_separator{
	&:first-child{  border-right: none;  }
	&:last-child{
		&:after{
			content: '';
			display: block;
			width: 1px;
			height: 25px;
			background: #273456;
			position: absolute;
			top: 39px;
			left: 0;
			opacity: 0.1;
		}
	}
}
@mixin order_sidebar_current_order_title_buy{
	//.edit{
	//	border-left: 1px solid rgba(53, 153, 218, 0.2);
	//	border-bottom: 1px solid rgba(53, 153, 218, 0.2);
	//}
	//.delete{
	//	border-left: 1px solid rgba(53, 153, 218, 0.2);
	//}
}
@mixin order_sidebar_current_order_title_sell{
	//.edit{
	//	border-left: 1px solid rgba(239, 77, 33, 0.2);
	//	border-bottom: 1px solid rgba(239, 77, 33, 0.2);
	//}
	//.delete{
	//	border-left: 1px solid rgba(239, 77, 33, 0.2);
	//}
}
$order_sidebar_current_order_title_color: #000000;
@mixin order_sidebar_order_input{  background: #ffffff;  }
$order_sidebar_order_label_color: #000000;
$order_sidebar_order_edit: url("../Images/sprite.svg") no-repeat -191px -135px;
$order_sidebar_order_delete: url("../Images/sprite.svg") no-repeat -191px -178px;
$order_sidebar_order_border_color: #e9eaee;