//active_trader=========================================================================================================
@mixin wave{
	.wave{  box-shadow: none;  }
}
@mixin trader_event_name{
	background: #211e25;
	color: #ffffff * 0.5;
	&.active{
		border: none;
		background-image: $active_bg;
		color: #211e25;
	}
}
$trader_table_thead_bg: #211e25;
$trader_join_button: #ffffff;
$trader_button_separator: #211e25;
@mixin trader_label {
	background: transparent;
	color: #ffffff;
}
$trader_table_td: #211e25;
$trader_button_color: #ffffff;
$trader_spread_button_bg: transparentize(#f8b747, 0.8);
$trader_button_success: -281px -135px;
@mixin trader_spread_button{
	background: linear-gradient(to bottom, transparentize(#f8b747, 0.8), transparentize(#ef8022, 0.8));
	cursor: default;
	color: #707070;
	&.btn{   color: #ffffff;  cursor: pointer; }
}
@mixin trader_input{
	color: #ffffff;
}
@mixin trader_regulator{
	border-left: 1px solid #211e25;
	span{
		width: 12px;
		height: 50%;
		position: relative;
		&:active{
			background-color: #000;
		}
		&:first-of-type{
			border-bottom: 1px solid #211e25;
			line-height: 16px;
			&:after{
				border: 3px solid transparent;
				border-bottom: 5px solid transparentize(#ffffff, 0.4);
				top: 0;
			}
		}
		&:last-of-type{
			line-height: 15px;
			&:after{
				border: 3px solid transparent;
				border-top: 5px solid transparentize(#ffffff, 0.4);
				top: 5px;
			}
		}
		&:after{
			content: '';
			display: block;
			width: 5px;
			height: 5px;
			position: absolute;
			left: 3px;
		}
	}
}
@mixin trader_spread_separator{
	&:first-of-type td:nth-of-type(2){  border-right: 1px solid #211e25;  }
	&:nth-of-type(2) td:nth-of-type(2){  border-right: 1px solid #211e25;  }
	&:nth-of-type(3) td:nth-of-type(2){  border-right: 1px solid #211e25;  }
	&:nth-of-type(4) td:nth-of-type(2){  border-right: 1px solid #211e25;  }
	&:nth-of-type(5) td:nth-of-type(2){  border-right: 1px solid #211e25;  }
}
@mixin trader_table_tr{
	color: #ffffff;
	&:nth-child(even){  background: transparentize(#bdc0cd, 0.97);  }
}
$trader_table_th_border_color: transparentize(#ffffff, 0.95);
$trader_order_button_hover: transparentize(#ef4d22 * 1.1, 0.9);
$trader_order_button_active: transparentize(#ef4d22 * 0.5, 0.9);
@mixin trader_order_delete{
	.buy-container .delete:hover{  background: transparentize(#ebf7f9 * 0.95, 0.95);  }
	.sell-container .delete:hover{  background: transparentize(#fff1f1 * 0.95, 0.95);  }
	.buy-container .delete:active{  background: transparentize(#ebf7f9 * 1.1, 0.8);  }
	.sell-container .delete:active{  background: transparentize(#fff1f1 * 1.1, 0.8);  }
}
$trader_show_spread: linear-gradient(to right, #292830, #3a3943, #292830);