::-webkit-input-placeholder{
  color: #dbdbdb;
}
::-moz-placeholder{
  color: #dbdbdb;
}
:-moz-placeholder{
  color: #dbdbdb;
}
:-ms-input-placeholder{
  color: #dbdbdb;
}
html{
  overflow: auto;
  &::-webkit-scrollbar {
    width: 10px
  }

  &::-webkit-scrollbar-track {
    background-color: #e8e8e8;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
  }

  &::-webkit-scrollbar-thumb {
		background: linear-gradient(to bottom, #53515e, #292830);
    border-radius: 5px;
		-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5), 0 0 6px rgba(0,0,0,0.5);
  }
}

:root{  overflow-x: hidden;  background-color: transparent;  }

body,
html{
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "open_sans_regular", sans-serif;
  background: $main-bg;
}
body>.wrapper{
  background: $main-bg -50px;
  &.blur{  filter: url('../Images/blur.svg#blur') blur(5px);  }
}

a, span{  transition: 0.4s ease-out;  }

label{  cursor: pointer;  }

a.text_decoration{
	color: $link-color;
	@include text-decoration;
}

button {
  height: 30px;
  padding: 3px 10px 4px 10px;
  border-radius: 4px;
  color: #fff;
  outline: none;
  cursor: pointer;
}
select{
  padding: 0 5px;
  border: 1px solid #d7d7d8;
  border-radius: 3px;
  color: #666666;
  cursor: pointer;
}
ul{  list-style-type: none;  }
*:focus{  outline: none;  }
body > .wrapper{
  @include container(12);
  min-height:100%;
  box-sizing: border-box;
  transition: 0.4s ease-out;
}
.error-massage{
  color: red;
  font-size: 12px;
  font-weight: bold;
}
.btn{
  box-shadow: inset 0 -18px 25px -8px rgba(0, 0, 0, 0.3);
  transition: 0.2s ease;
  @include btn-hover;
  &[disabled]{  cursor: default !important; opacity: 0.6;
    &:after{  display: none;  }
  }
  &:not([disabled]):active {
    box-shadow: inset 0 2px 25px -8px rgb(0, 0, 0);
  }
}
input, select, button, a {
  &:focus {
    outline: none;
  }
}
input[type="text"], input[type="email"], input[type="password"], input[type="tel"], textarea {
  box-shadow: inset 0 0 15px -3px rgba(0, 0, 0, 0.2);
  &:-webkit-autofill{  -webkit-box-shadow: inset 0 0 0 50px #fff !important;  }
}
.clear{
  display: none;
  width: 14px;
  height: 14px;
  min-height: inherit;
  position: absolute;
  right: 15px;
  top: calc(50% - 7px);
  &:before, &:after{
    content: '';
    display: block;
    width: 12px;
    height: 1px;
    position: absolute;
    left: 1px;
    background: #cccccc;
    transition: 0.1s ease-out;
  }
  &.active{
    &:before{  transform: rotate(45deg);  }
    &:after{  transform: rotate(-45deg);  }
  }
}
i.wave{  display: inline-block;  font-style: normal; }
.waves-effect {
  position: relative;
  overflow: hidden !important;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  .waves-ripple {
    position: absolute;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin-top: -50px;
    margin-left: -50px;
    opacity: 0;
    background: rgba(0, 0, 0, .2);
    background: radial-gradient(rgba(0, 0, 0, .2) 0, rgba(0, 0, 0, .3) 40%, rgba(0, 0, 0, .4) 50%, rgba(0, 0, 0, .5) 60%, rgba(255, 255, 255, 0) 70%);
    transition: all .5s ease-out;
    transition-property: transform, opacity;
    transform: scale(0) translate(0, 0);
    pointer-events: none;
  }
}
.wave{
  transform: translateZ(0);
  //-webkit-mask-image: -webkit-radial-gradient(circle,#fff 100%,#000 100%);
}
.show_password {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url("../Images/ico-eye.png") no-repeat;
  background-size: 20px;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
}

.input{
  display: inline-block;
  position: relative;
  .regulator{
    width: 18px;
    height: 100%;
    margin-left: 2px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 5;
    box-shadow: -4px 0 5px -4px rgba(0, 0, 0, 0.2);
    span{
      display: block;
      height: 50%;
      user-select: none;
      cursor: pointer;
      position: relative;
      &:after{
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        position: absolute;
        left: 6px;
      }
    }
    @include regulator;
  }
}

.validation-summary-errors{
  display: block;
  height: 22px;
	padding: 2px 0;
  color: #ff3905;
  font-size: 12px;
}

.close{
  &:hover{
    &:before, span:before{  transform: rotate(90deg);  }
    &:after, span:after{  transform: rotate(-90deg);  }
    //&:before{  transform: rotate(135deg);  }
    //&:after{  transform: rotate(45deg);  }
    //span{
    //  &:before{  transform: rotate(135deg);  }
    //  &:after{  transform: rotate(45deg);  }
    //}
  }
  &:before, &:after, span:before, span:after{
    content: '';
    display: block;
    width: 4px;
    height: 12px;
    position: absolute;
    top: calc(50% - 6px);
    left: calc(50% - 2px);
    background: #fff;
    border-radius: 2px;
    transition: 0.4s ease-out;
  }
  &:before{  transform: rotate(45deg);  }
  &:after{  transform: rotate(-45deg);  }
  span{
    display: block;
    height: 100%;
    &:before, &:after{
      width: 2px;
      height: 10px;
      top: calc(50% - 5px);
      left: calc(50% - 1px);
      background: #292830;
      z-index: 2;
    }
    &:before{  transform: rotate(45deg);  }
    &:after{  transform: rotate(-45deg);  }
  }
}

.select{
  display: inline-block;
  position: relative;
  vertical-align: middle;
  &:before{
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background: url(../Images/dropdown/dd_arrow.gif) no-repeat;
    position: absolute;
    top: 22%;
    right: 4px;
  }
  &:after{
    content: '';
    display: block;
    height: 29px;
    position: absolute;
    top: 0;
    right: 20px;
    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #fff;
  }
  select{
    height: 30px;
    padding: 5px;
    padding-right: 30px;
    margin-right: 3px;
    border: 1px solid #d7d7d8;
    border-radius: 3px;
    //color: #fff;
    font-size: 12px;
    background: linear-gradient(to Top, #B8BBBD, #E3E4E5);
    &.img{  padding-left: 30px;  }
  }
}

.help{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: absolute;
  right: 1px;
  z-index: 80;
  top: calc(50% - 6px);
  cursor: help;
  opacity: 0.5;
  transition: 0.2s ease-out;
  &:after{
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    background: $help_block;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:before{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: -13px;
    right: 1px;
    z-index: 998;
    background: $checkbox_bg;
    transform: rotate(45deg);
    box-shadow: -3px -3px 9px -2px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.2s ease-out;
  }
  &:hover{
    opacity: 1;
    &:before{  opacity: 1;  }
    .help_message{   visibility: visible;  opacity: 1;  }
  }
  .help_message{
    visibility: hidden;
    width: 125px;
    position: absolute;
    top: 20px;
    right: -7px;
    z-index: 999;
    //background: $checkbox_bg;
    background: $bg_color;
    padding: 5px !important;
    border-radius: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    text-align: left;
    opacity: 0;
    transition: 0.2s ease-out;
    &.right{
      right: auto;
      left: -80px;
      &:after{  right: 32px;  }
    }
    &:after{
      content: '';
      display: block;
      position: absolute;
      top: -13px;
      right: 6px;
      border: 7px solid transparent;
      border-bottom: 6px solid $checkbox_bg;
    }
    strong{
      font-size: 10px;
      color: transparentize($checkbox_label_color, 0.5);
      position: relative;
      //z-index: 10;
    }
  }
}

.warning{
  display: none;
  width: 125px;
  position: absolute;
  background: $warning_message_bg;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
  z-index: 10;
  &:before{
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: -4px;
    left: 26px;
    background: $warning_message_arrow;
    transform: rotate(45deg);
    -webkit-box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    z-index: 9;
  }
  &:after{
    content: '';
    display: block;
    width: 20px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 22px;
    background: $warning_message_arrow * 0.98;
    z-index: 9;
  }
  p{
    font-size: 12px;
    color: #ff1e1e;
    position: relative;
    z-index: 10;
  }
}

.template{  display: none;  }

.tab{
  transition: 0.4s ease-out;
  cursor: pointer;
  user-select: none;
  &[data-disabled]{  cursor: default;  opacity: 0.6; }
}
.tab_item{
  display: none;
  &:first-child{  display: block;  }
}

.pop_up{
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  .pop_up_container{
    display: flex;
    height: 100%;
    .pop_up_content{  margin: auto;  }
  }
}

.valid input{  border: 1px solid #a3d39c !important;  color: #a3d39c !important;  }
.invalid input{
  border: 1px solid #ff1e1e !important;
  color: #ff1e1e !important;
	-webkit-text-fill-color: #ff1e1e !important;
  animation-name: shake;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.breadcrumbs {
  padding: 6px 15px 8px;
  margin-bottom: 10px;
  border-radius: 6px;
  background: $breadcrumbs-bg;
  li {
    display: inline-block;
    color:  $breadcrumbs-color;
    font-size: 14px;
    line-height: 19px;
    a {
      margin-right: 15px;
      color: $link-color;
      font-size: 14px;
      font-family: 'open_sans_regular', sans-serif;
      position: relative;
      &:hover{  color: $link-color * 0.7 ;  }
    }
    a:after {
      content: '';
      display: inline-block;
      width: 5px;
      height: 8px;
      margin: 0 5px 0 8px;
      position: absolute;
      top: 7px;
      background: url("../Images/sprite.svg") no-repeat -60px -211px;
    }
  }
}

.dd{
  height: 30px;
  border: none;
  &.borderRadius .ddTitle{
    border-radius: 5px;
  }
  input{  display: none !important;  }
  .ddTitle{
    height: 30px;
    background: linear-gradient(to Top, #B8BBBD, #E3E4E5);
    span{margin: 0!important;}
  }
  .ddTitleText{
    text-align: left;
    img{  width: 16px;  height: 11px;  margin-top: -3px;  background-image: url(../Images/dropdown/flagssprite_small.png);
      background-repeat: no-repeat;  background-size: 80px 583px; border-radius: 0!important;}
  }
  .divider{  height: 30px;right: 20px;  }
  .ddArrow{  top: 22%;  }
  &.ddcommon{
    .ddChild{
      width: 100%;
      left: 0;
      box-shadow: none;
      border: none;
      ul{
        //border: 1px solid #dadada;
        box-shadow: 5px 5px 5px -5px #888888;
        border-radius: 0 0 5px 5px;
        max-height: 245px;
        @include scroll;
      }
      li{
        text-align: left;
        border-left: 1px solid #dadada;
        border-right: 1px solid #dadada;
        img{  width: 16px;  height: 11px;  background-image: url(../Images/dropdown/flagssprite_small.png);
          background-repeat: no-repeat;  background-size: 80px 583px; border-radius: 0!important;}
      }
    }
  }
}

@keyframes fadeOut {
  0% {  background-color: orange;  }
  100% {  background-color: transparent;  }
}
@keyframes fadeColorOutSell {
  0% {  color: #ef4d22;  }
  100% {  color: orange;  }
}
@keyframes fadeColorOutBuy {
  0% {  color: #3498da;  }
  100% {  color: orange;  }
}
@keyframes shake {
  0%, 100% {  transform: translate3d(0, 0, 0);  }
  10%, 30%, 50%, 70%, 90% {  transform: translate3d(-10px, 0, 0);  }
  20%, 40%, 60%, 80% {  transform: translate3d(10px, 0, 0);  }
}
@keyframes rubberBand {
  0% {  transform: scale3d(1, 1, 1);  }
  30% {  transform: scale3d(1.25, 0.75, 1);  }
  40% {  transform: scale3d(0.75, 1.25, 1);  }
  50% {  transform: scale3d(1.15, 0.85, 1);  }
  65% {  transform: scale3d(.95, 1.05, 1);  }
  75% {  transform: scale3d(1.05, .95, 1);  }
  100% {  transform: scale3d(1, 1, 1);  }
}
@keyframes fadeInLeft {
  0% {  opacity: 0;  transform: translate3d(-100%, 0, 0);  }
  100% {  opacity: 1;  transform: none;  }
}
@keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);  }
  0% {  opacity: 0;  transform: translate3d(3000px, 0, 0);  }
  60% {  opacity: 1;  transform: translate3d(-25px, 0, 0);  }
  75% {  transform: translate3d(10px, 0, 0);  }
  90% {  transform: translate3d(-5px, 0, 0);  }
  100% {  transform: none;  }
}
@keyframes bounceOutRight {
  20% {  opacity: 1;  transform: translate3d(-20px, 0, 0);  }
  100% {  opacity: 0;  transform: translate3d(2000px, 0, 0);  }
}

.bounceInRight {  animation-name: bounceInRight;  }
.bounceOutRight {  animation-name: bounceOutRight;  }
.fadeInLeft {  animation-name: fadeInLeft;  }
.shake {  animation-name: shake;  }
.fadeOut span:after {  animation-name: fadeOut;  }
.fadeOut:before {  animation-name: fadeOut;  }
.rubberBand {  animation-name: rubberBand;  }
.animated{
  animation-duration: 1s;
  animation-fill-mode: both;
  &:before{  animation-duration: 1s;  animation-fill-mode: both;  }
  span:after {  animation-duration: 1s;  animation-fill-mode: both;  }
}

.input_animate {
  position: relative;
  display: inline-block;
  padding-top: 0.5em;
  max-width: 400px;
  width: 100%;
  vertical-align: top;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 100%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #37343b;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: rgba(255, 255, 255, 0.4);
  font-family: "open_sans_semibold", sans-serif;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.hidden{  display: none !important;  }

.global_message_container{
  width: 300px;
  padding: 10px 15px;
  margin-top: 15px;
  position: fixed;
  right: -100%;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  box-shadow: 0 0 23px -5px rgba(0, 0, 0, 0.5);
  z-index: 500;
  transition: 0.4s ease-out;
  &.active{
    right: 10px;
    animation-duration: 0.7s;
    animation-fill-mode: both;
  }
  &.error p {  color: #ef4d22;  }
  &.alert p{  color: #ef8022;  }
  &.info p{  color: #3498DA;  }
  p{  font-size: 12px;  }
}