.content {
  @include span(7.6 of 12);
  @include push (1.8 of 12);
  margin-top: 70px;
  padding: 15px;
  position: relative;
  .nav_items {
    .mode_wrapper{
      display: flex;
      align-items: center;
      width: 145px;
      height: 40px;
      padding: 0 10px;
      float: right;
      color: $main-color;
      background: $bg_color;
      border-radius: 6px;
      .mode_switch{
        width: 100%;
        @include checkbox_vertical;
        padding: 0;
        padding-right: 25px;
        input:checked ~ span{
          &:before{  background: #ef8022  }
        }
        span{
          color: $checkbox_label_color;
          &:before{  background: #4dac2e;  }
          &:before{
            left: inherit;
            right: 2px;
          }
          &:after{
            left: inherit;
            right: 3px;
          }
        }
      }
    }
    .tabs {
      width: 63.33%;
      padding: 15px;
      background: $main-bg;
      position: fixed;
      top: 70px;
      left: 15%;
      z-index: 93;
      span.tab {
        display: inline-block;
        margin-right: 10px;
        padding: 0 15px;
        font-size: 14px;
        font-family: "open_sans_regular", sans-serif;
        background: $main_page_tab_bg;
        color: $main_page_tab_color;
        border-radius: 6px;
        cursor: pointer;
        &.active {
          @include main_page_tab_icon_active;
          span{
            &:after{  margin-bottom: 0;  }
            &:before{  margin-top: -30px;  }
          }
        }
        span{
          display: inline-block;
          padding: 10px 0;
          vertical-align: middle;
          overflow: hidden;
          &:before, &:after{
            content: attr(data-content);
            display: block;
            transition: 0.4s ease-out;
          }
          &:after{  margin-bottom: -26px;  margin-top: 6px;  color: $main_page_tab_color_active * 0.95; }
          &:before{  margin-top: -2px; color: $main_page_tab_color; }
        }
        @include main_page_tab_icon;
      }
    }
    .tab_content{  padding-top: 60px;  }
    .ui-state-highlight{
      height: 102px;
      border: 1px dashed #fcefa1;
    }
    .content_bet {
      display: flex;
      align-items: stretch;
      flex-direction: row;
      margin-top: 2px;
      position: relative;
      text-align: center;
      border-radius: 6px;
      transition: 0.4s ease-out;
      cursor: default;
      //overflow: inherit !important;
			&:first-child{  margin-top: 0!important;  }
      &.ui-sortable-helper{  transition: 0s;  cursor: move;  }
			&.ui-sortable-handle .content_title{  cursor: move;  }
      &.clickable{
        .waves-ripple{  display: block;;  }
        .content_title{
          &:hover + .table{
            .event-content:first-child h3.event-title{  color: transparentize($link-color, 0.4);  }
          }
          //&:after{
          //  content: '';
          //  display: block;
          //  width: 2px;
          //  height: 100%;
          //  position: absolute;
          //  top: 0;
          //  z-index: 5;
          //  opacity: 0;
          //  box-shadow: 0 0 15px 0 transparentize($link-color * 0.5, 1);
          //}
        }
        .content_title, .table{  transition: 0.4s ease-out;  }
        &:not(.event-content):hover{
          //.event-content:first-child h3.event-title{  color: transparentize($link-color, 0.4);  }
          .content_title h2{  color: transparentize($link-color, 0.4);  }
        }
        .event-content{
          &:hover{
            h3.event-title{  color: transparentize($link-color, 0.4) !important;  }
          }
          &.active{
            &:after{  opacity: $main_page_event_opacity;  }
            h3{  color: $link-color;  }
          }
        }
        &.active{
          .content_title{
            //&:before{
            //  left: 100%;
            //  background: linear-gradient( to bottom, $link-color, $link-color * 0.8);
            //}
            //&:after{
            //  transition: 0.4s ease-out;
            //  right: -2px;
            //  opacity: 1;
            //  @include main_page_event_active;
            //}
            h2{  color: $link-color;  }
          }
        }
        &.active .content_title h2{  color: $link-color;  }
      }
      &.basic_mode_js{
        .table{
          .event-title a{  display: none;  }
          .event-content{
            //.container{
            //  margin-top: 5px;
            //  margin-bottom: -5px;
            //}

            .button-container{
              &:first-child{
                //padding-right: 15px;
                button.event{
                  transform: scaleX(1.21) scaleY(1.19) translateX(-15px);
                }
              }
              &:last-child{
                //padding-left: 15px;
                button.event{
                  transform: scaleX(1.21) scaleY(1.19) translateX(15px);
                }
              }
            }
            .buy button:not(:first-child){  display: none;  }
            .sell button:not(:last-child){  display: none;  }
            button.event{
              //width: 56px;
              //height: 38px;
              //transform: scaleX(1.75);
              transform: scaleX(1.21) scaleY(1.19);
              //&.empty{
              //  width: 60px;
              //  transform: scaleX(1.22) scaleY(1.19);
              //}
              //span{
              //  line-height: 16px;
              //  &.price{  font-size: 15px;  }
              //  &.volume{  font-size: 12px;  }
              //}
            }
          }
        }
      }
      .waves-ripple{  display: none;  }
      h2, h3 {
        color: $main_page_event_title;
        text-align: left;
        font-size: 14px;
        vertical-align: middle;
        //transition: 0.4s ease-out;
      }
      h2{
        margin: 3px 0;
        transition: 0.4s ease-out;
        position: relative;
        span{  transition: 0s;  }
        .help{  transition: 0.2s ease-out;  }
      }
      h3{
        margin-bottom: 5px;
        position: relative;
        z-index: 2;
        span{  position: relative;  }
        a {
          display: inline-block;
          //padding-right: 15px;
          color: transparentize($main-color, 0.2);
          font-size: 12px;
          vertical-align: middle;
          position: absolute;
          right: 0;
          &:after{
            content: '';
            display: inline-block;
            width: 15px;
            height: 14px;
            margin-left: 4px;
            background: url("../Images/sprite.svg") no-repeat -59px -209px;
          }
        }
        strong.score{
          position: absolute;
          top: 20px;
          left: -25%;
        }
      }
      h3 a:hover{  color: $main-color-hover;  }
      a.add_favorite {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 44px;
        left: calc(50% - 10px);
        background: url(../Images/sprite.svg) no-repeat -97px -123px;
        z-index: 2;
        transition: 0.2s ease-out;
        &:hover {
          animation-duration: 1s;
          animation-fill-mode: both;
          animation-name: rubberBand;
        }
        &.active {  background-position: -97px -90px;  }
      }
      .help{  right: -8px;  }
      .help_message{  width: 210px;  }
      .event_info{
        width: calc(24% - 20px);
        position: absolute;
        left: 10px;
        top: 10px;
        z-index: 1;
        text-align: left;
        &:before{
          content: '';
          display: inline-block;
          width: 24px;
          height: 22px;
          margin-right: 5px;
          background: url("../Images/sprite.svg") no-repeat;
        }
        @include main_page_event_icon;
        span {
          font-size: 12px;
          display: inline-block;
          margin-right: 5px;
          vertical-align: top;
          &.date{  color: $main-color;  opacity: 0.5;  }
          &.time{  color: $main-color-darker;  }
        }
        i{
          float: right;
          line-height: 12px;
          padding: 3px 7px;
          color: #ffffff;
          border-radius: 4px;
          font-style: normal;
          font-weight: 700;
          font-size: 12px;
          vertical-align: top;
          &.live{  background-image: linear-gradient(to bottom, #84d65b, #4dac2e);  }
          &.half_time{  color: transparent; background-image: linear-gradient(to bottom, #cccb35, #cccb35 * 0.9); }
          &.end{   background-image: linear-gradient(to bottom, #646470, #34343d);  }
          span{  display: inline-block;  margin: 0;  margin-left: -11px;  color: #ffffff;  }
          @include md(1550){
            &.half_time{
              color: #ffffff;
              span{  display: none;  }
            }
          }
        }
      }
      .content_title, .table{
        display: inline-block;
      }
      .content_title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-height: 127px;
        width: 24%;
        padding: 30px 10px 20px;
        margin-right: 2px;
        border-radius: 6px 0 0 6px;
        @include main_page_event_bg;
        &.command{
          padding: 30px 10px 20px 30px;
          position: relative;
          &:before{
            content: '';
            width: 20px;
            height: 18px;
            position: absolute;
            top: calc(50% - 3px);
            left: 10px;
            background: url("../Images/sprite.svg") no-repeat -27px -356px;
          }
          h2{
            &:before{
              content: '';
              display: block;
              height: 10px;
              width: 15px;
              position: absolute;
              top: calc(50% - 5px);
              left: -19px;
              background: url("../Images/sprite.svg") no-repeat;
            }
            &:first-of-type:before{  background-position: -27px -346px;  }
            &:last-of-type:before{  background-position: -27px -372px;  }
          }
        }
      }
      .table {
        //display: flex;
        width: 76%;
        border-radius: 0 6px 6px 0;
        vertical-align: middle;
        position: relative;
        cursor: default;
        @include main_page_event_bg;
        &.active{
          padding-bottom: 10px;
          .event-content{
            position: static;
            &:before{  height: calc(100% - 25px) !important; right: calc(50% - 1px) !important;  }
            &:after{  width: 50%;  }
            &:nth-of-type(2).active:after{  right: 0; left: inherit;  }
          }
        }
        .event-content {
          float: left;
          width: calc(50% - 1px);
          height: 127px;
          padding: 10px 5px 31px;
          position: relative;
          &:after{
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            background: #000;
            opacity: 0;
          }
          &:first-of-type{
            margin-right: 2px;
            &:before{
              content: '';
              display: block;
              width: 2px;
              height: 100%;
              position: absolute;
              top: 0;
              right: -2px;
              background: $main-bg;
            }
          }
          &:last-of-type{  margin-left: 2px;  }
          h3 {
            display: block;
            padding-left: 2px;
          }
          .container{
            display: flex;
            margin-top: 18px;
            //margin-bottom: -18px;
            position: relative;
            z-index: 2;
          }
          .button-container{
            display: inline-flex;
            width: 50%;
            height: 35px;
            vertical-align: middle;
            &:first-of-type{
              justify-content: flex-end;
              padding-right: 3px;
            }
            &:last-of-type{
              justify-content: flex-start;
              padding-left: 2px;
            }
          }
          button.event {
            height: 32px;
            padding: 0;
            margin: 0 2px;
            border-radius: 4px;
            text-transform: uppercase;
            background: $default-button-bg;
            vertical-align: middle;
            @include main_page_event_button;
            position: relative;
            &:first-child{  margin-left: 0;  }
            &:last-child{  margin-right: 0;  }
            &:not([disabled]):after{
              content: '';
              display: block;
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              z-index: 1;
              background: #000000;
              opacity: 0;
              transition: 0.4s ease-out;
              border-radius: 4px;
            }
            &:hover:after{  opacity: 0.15;  }
            &:active:after{  opacity: 0;  }
            &:before{
              content: '';
              display: block;
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left: 0;
              border-radius: 4px;
            }
            &.empty{
              width: 48px;
              span{
                display: block;
                height: 32px;
                line-height: 32px;
                padding: 0 !important;
              }
            }
            span{
              display: block;
              line-height: 13px;
              color: $main_page_event_title;
              font-weight: 600;
              position: relative;
              z-index: 2;
              &.price{
                padding: 3px 8px 0;
                font-size: 13px;
              }
              &.volume{
                padding-bottom: 3px;
                font-size: 10px;
                color: transparentize($main_page_event_title, 0.4);
              }
            }
          }
          //.buy, .sell{
          //  display: inline-block;
          //}
          .buy{
            button{
              &:first-child{
                background-image: linear-gradient(to bottom, #f88447, #ef4d22);
                span{
                  color: #fff;
                  opacity: 0.8;
                }
              }
              @include md(1360){
                &:nth-of-type(3){
                  display: none;
                }
              }
            }
          }
          .sell{
            button{
              &:last-child{
                background-image: linear-gradient(to bottom, #64c9ef, #3498da);
                span{
                  color: #fff;
                  opacity: 0.8;
                }
              }
              @include md(1360){
                &:nth-last-of-type(3){
                  display: none;
                }
              }
            }
          }
          .pl, .pos{
            width: 145px;
            height: 22px;
            //padding-top: 4px;
            //visibility: hidden;
            position: absolute;
            bottom: -45px;
            font-size: 12px;
            color: $main-color;
            background: url("../Images/sprite.svg") no-repeat;
            overflow: hidden;
            strong{
              display: block;
              margin-top: -25px;
              transition: 0.2s ease-out;
            }
          }
          .pl{
            padding-left: 25px;
            padding-right: 30px;
            right: -6px;
            background-position: $main_page_event_info_pl_bg;
            //.profit{  color: #4dac2e;  }
            //.loss{  color: #ff3905;  }
            span{
              &.win{  color: #4dac2e;  }
              &.lose{  color: #ff3905;  }
            }
          }
          .pos{
            padding-right: 25px;
            padding-left: 30px;
            left: -6px;
            background-position: $main_page_event_info_pos_bg;
            span{
              color: #bab500;
            }
          }
        }
      }
      .show-schedule{
        display: block;
        width: 40px;
        height: 20px;
        min-height: inherit;
        position: absolute;
        left: calc(50% - 20px);
        top: 108px;
        z-index: 2;
        cursor: pointer;
        background: $main_page_event_chart_button;
        transition: 0.4s ease-out;
        &:before, &:after{
          content: '';
          display: block;
          width: 15px;
          height: 1px;
          background: #eeeeef * 0.5;
          position: absolute;
          left: 12px;
          transition: 0.4s ease-out;
        }
        &:before{  top: 9px;  }
        &:after{  top: 13px;  }
        &.active{
          &:before{
            transform: rotate(45deg);
            top: 12px;
          }
          &:after{
            transform: rotate(-45deg);
            top: 12px;
          }
        }
      }
      .schedule{
        //display: none;
        height: 0;
        margin: 0 10px;
        position: relative;
        z-index: 2;
        clear: both;
        overflow: hidden;
        transition: 0.4s ease-out;
        &:after{
          content: '';
          display: block;
          width: 100%;
          height: 0;
          background: $main_page_gif no-repeat center $main_page_tab_color_active;
          position: absolute;
          top: 0;
          left: 0;
        }
        &.active{  height: 400px;  }
        &.loader:after{  height: 100%;  }
        svg{  max-width: 100% !important;  }
        @include chart;
        img{  width: 100%;  }
      }
    }
  }
  .tab_item:first-child {
    display: block;
  }
  .help_message{
    strong{
      display: block;
      margin-bottom: 10px;
      font-size: 13px;
      font-weight: bolder;
      color: $main-color;
    }
    table{
      width: 100%;
      tr:last-of-type td{
        padding-top: 5px;
        span{  font-weight: bold;  }
      }
      th{  font-size: 13px;  font-weight: bold; color: $main-color;  }
      span{  font-size: 12px;  font-weight: normal; color: $main-color;  }
    }
  }
}
