.order {
  @include span(last 2.6 of 12);
  //width: 325px;
  height: 100%;
  background: $order_sidebar_bg;
  position: fixed;
  right: 0;
  top: 70px;
  z-index: 99;
  transition: 0.4s ease-out;
  //&.active {
  //  right: -20.76796%;
  //}
  @include wave;
  label{
    color: #000000;
    font-size: 12px;
    font-weight: 600;
  }
  //.order_screening{
  //  width: 100%;
  //  height: 100%;
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  z-index: 100;
  //}
  .left_order {
    .wrapper {
      text-align: center;
      margin-top: 10px;
      .tabs {
        display: flex;
        justify-content: center;
        margin: 0 15px 35px;
        border-radius: 4px;
        //border: 1px solid #3498da;
        .tab {
          width: 50%;
          height: 35px;
          color: $order_sidebar_tab_color;
          font-size: 14px;
          line-height: 33px;
          position: relative;
          border: 1px solid $order_sidebar_tab_color;
          border-radius: 4px 0 0 4px;
          &.active {
            background-image: $active_bg;
            border: none;
            color: $main_page_tab_color_active;
            label{
              top: 44px;
              left: 1px;
              &.auto_trade{  right: 1px;  }
            }
          }
          @include order_sidebar_tab_separator;
          &:last-child {
            //&.active{  border-left: 1px solid #445b69;  }
            border-radius: 0 4px 4px 0;
            border-left: none;
          }
          label {
            padding-right: 20px;
            @include checkbox_vertical;
            position: absolute;
            top: 43px;
            left: 0;
            line-height: 1.6em;
            span {
              text-transform: capitalize;
              font-size: 13px;
            }
            &.trader .help_message{  width: 250px;  }
            &.auto_trade{  display: none;  left: auto; right: 0; }
          }
        }
      }
      .tab_content {
        margin-top: 5px;
        text-align: left;
        //max-height: 700px;
        //box-shadow: inset 0 -8px 20px -8px rgba(0, 0, 0, 0.3);
        //border-top: 1px solid #f1f1f1;
        //border-bottom: 1px solid #f1f1f1;
        transition: 0.4s ease-out;
        position: relative;
        &.footer_active:before{  bottom: -9px;  }
        .active_trader{
          overflow: hidden;
          .event_title{
            display: flex;
            .event_name{
              width: 50%;
              height: 35px;
              line-height: 35px;
              font-size: 13px;
              font-weight: 600;
              text-align: center;
              cursor: pointer;
              transition: 0.4s ease-out;
              @include trader_event_name;
            }
          }
          .active_trader_footer{
            position: fixed;
            bottom: 2px;
            z-index: 15;
            box-shadow: 0 -6px 15px -3px rgba(0, 0, 0, 0.3);
            transition: 0.4s ease-out;
          }
          span.close{  height: 31px; background: url("../Images/ico-delete-w.png") no-repeat center #969696;  border-radius: 5px; cursor: pointer; }
          .help{  right: -3px;  }
          table{
            width: 100%;
            font-size: 12px;
            //font-size: 13px;
            //@include md(1400){  font-size: 12px;  }
            &.info{
              border-top: 1px solid $trader_table_td;
              tr{
                &:first-of-type td{  border-top: none;  }
                td{
                  width: 33.33%;  padding: 5px;
                  a{  padding: 0;  }
                }
              }
            }
            &.control{
              position: relative;
              &:nth-of-type(1), &:nth-of-type(2){
                tr input{  text-align: center !important;  }
              }
              &.remote {
                tr:first-of-type td:nth-of-type(2){  border-right: 1px solid $trader_table_td;  }
                td{
                  user-select: none;
                  @include btn-hover;
                }
              }
              tr{
                //&:first-of-type td:last-of-type{  border-top: 1px solid #313d62;  }
                @include trader_spread_separator;
                //&:nth-of-type(6) td:nth-of-type(2){  border-right: 1px solid #313d62;  }
                //&:nth-of-type(6) td:last-of-type{  border-bottom: 1px solid #313d62;  }
                &:last-of-type input.number{  text-align: left;  }
              }
              td{
                width: 33%;
                text-align: center;
                &:not(.label){  text-align: center;  }
                &.active{
                  box-shadow: inset 0 -18px 25px -8px rgba(0, 0, 0, 0.3);
                  cursor: pointer;
                  transition: 0.2s ease;
                  text-align: center;
                  &[disabled]{  cursor: default;  }
                  &:not([disabled]):active {  box-shadow: inset 0 2px 25px -8px rgb(0, 0, 0); }
                  //&.activated{  box-shadow: inset 0 2px 25px -8px rgb(0, 0, 0);  }
                  a{  cursor: pointer;  }
                  .order_content:active{  box-shadow: none;  }
                }
                &.button.quantity .waves-ripple{  display: block;  }
                &:not(.clickable) .waves-ripple{  display: none;  }
                &.clickable{  @include btn-hover;  }
                &.market_button{
                  &:after{  display: none;  }
                  &.active{
                    button{  cursor: pointer; color: #ffffff; }
                    a{  opacity: 1;  }
                  }
                  a{  opacity: 0.5;  }
                  button{
                    color: transparentize(#ffffff, 0.5);
                    width: 100%;
                    border: none;
                    cursor: default;
                  }
                }
                input{
                  width: 100%;  padding: 3px 5px;  text-align: center; @include trader_input;
                  &.quantity{  padding-right: 25px;  }
                }
                .clear{
                  width: 14px;
                  height: 14px;
                  padding: 0;
                  line-height: 0;
                  border: none;
                }
                #order_content{  width: 100% !important;  }
              }
              .input{
                input{  padding-right: 14px;  }
                .regulator.min{
                  width: 12px;
                  height: 100%;
                  border-radius: 0;
                  border: none;
                  @include trader_regulator;
                }
                .warning{
                  left: auto;
                  right: 2px;
                  &:before{  left: 75px;  }
                  &:after{  left: 71px;  }
                }
              }
              input{
                &::-webkit-input-placeholder {  color: #ffffff;  }
                &::-moz-placeholder {  color: #ffffff;  }
                &:-moz-placeholder {  color: #ffffff;  }
                &:-ms-input-placeholder {  color: #ffffff;  }
              }
            }
            tr.zoom{  width: 100%;  }
            th{
              max-width: 70px;
              padding: 5px 0;
              color: #ffffff;
              border-right: 1px solid $trader_table_th_border_color;
              text-align: center;
            }
            td{
              border: 1px solid $trader_table_td;
              border-left: none;
              border-bottom: none;
              //position: relative;
              &.label{
                height: 24px;
                @include trader_label;
              }
              span.container{
                display: block;
                height: 19px;
                position: relative;
              }
              &:last-of-type{  border-right: none;  }
              &.trader_info{
                a{  font-size: 11px;  }
                span{
                  padding: 0;
                  &.up{  color: #1196d4;  }
                  &.down{  color: #ef4d22;  }
                  &.profit{  color: #4dac2e;  }
                  &.loss{  color: #ff3905;  }
                }
              }
              &.market_button{
                &.active span, &.active button{  color: #fff;  opacity: 1; }
                span, button{  color: #fff;  opacity: 0.8; }
              }
              &.sell_mkt{  background: linear-gradient(to bottom, #f88447, #ef4d22);  }
              &.buy_mkt{  background: linear-gradient(to bottom, #64c9ef, #3498da); }
              &.join_ask{
                background: linear-gradient(to bottom, transparentize(#f88447, 0.7), transparentize(#ef4d22, 0.7));
                span, a{  color: $trader_join_button;  }
                &.active span, &.active a{  color: $trader_join_button;  }
              }
              &.join_bid{
                background: linear-gradient(to bottom, transparentize(#64c9ef, 0.7), transparentize(#3498da, 0.7));
                span, a{  color: $trader_join_button;  }
                &.active span, &.active a{  color: $trader_join_button;  }
              }
              &.join_bid span, &.join_ask span{  padding: 0; }
              &.reverse{   background-image: linear-gradient(to bottom, #f8b747, #ef8022);  a{color: #ffffff;} }
              &.spreader{  background-image: linear-gradient(to bottom, #f8b747, #ef8022);  color: #ffffff; }
              &.button{
                &.spread button {
                  @include trader_spread_button;
                }
              }
              //&[rowspan]{  width: 34%;  }
              a{
                display: block;
                padding: 2px 5px;
                color: $main-color;
                position: relative;
                cursor: default;
                //z-index: 2;
                //box-shadow: inset 0 -9px 15px -4px rgba(0, 0, 0, 0.5);
                //&:active{  box-shadow: inset 0 2px 25px -8px rgb(0, 0, 0);  }
              }
              span{  padding: 0 5px;  }
              button{
                width: 50%;
                height: 24px;
                line-height: 15px;
                border-radius: 0;
                color: $trader_button_color;
                &:last-of-type{
                  border-left: 1px solid $trader_button_separator;
                }
              }
              &.cancel_all{  background-image: linear-gradient(to bottom, #646470, #34343d); a{  color: #ffffff;} } //#a3a3a3
              &.close_out{  background-image: linear-gradient(to bottom, #f88447, #ef4d22); a{color: #fff;}  }
            }
          }
          .table_limit{
            position: relative;
            &:before{
              content: '';
              display: block;
              width: 20%;
              height: calc(100% - 28px);
              position: absolute;
              top: 28px;
              transform: scaleX(0);
              opacity: 0.1;
              transition: 0.4s ease-out;
            }
            &:before {
              left: calc(20% - 1px);
              transform: translateX(-50%) scaleX(0.01);
              background: #b5e5ec;
            }
            &.clickable{
              &:before{
                transform: scaleX(0.98);
              }
            }
            .show_spread{
              min-width: 93px;
              padding: 0 5px;
              position: absolute;
              top: calc(50% + 110px);
              right: -61px;
              transform: rotate(-90deg);
              border-radius: 3px 3px 0 0;
              box-shadow: 0 -2px 6px 0px rgba(0, 0, 0, 0.5);
              font-size: 14px;
              text-align: center;
              cursor: pointer;
              transition: 0.4s ease;
              z-index: 10;
              background: $trader_show_spread;
              &.active{
                right: -37px;
                animation-name: active;
                animation-duration: 2s;
                animation-fill-mode: both;
                @keyframes active {
                  0% {  color: orange;  }
                  100% {  color: black;  }
                }
              }
              span{  transition: 0s;  }
            }
          }
          table.limit{
            position: relative;
            &:not(.webkit) tbody tr{  width: calc(100% + 14px);  }
            &:before{
              content: '';
              display: block;
              width: 20%;
              height: calc(100% - 28px);
              position: absolute;
              top: 28px;
              transform: scaleX(0);
              opacity: 0.1;
              transition: 0.4s ease-out;
            }
            &:before{
              right: calc(20% + 3px);
              transform: translateX(50%) scaleX(0.01);
              background: #ffcbc2;
            }
            &.clickable{
              &:before{
                transform: scaleX(1);
              }
            }
            thead{
              background: $trader_table_thead_bg;
              &:after{
                content: '';
                display: block;
                position: absolute;
                height: 10px;
                width: 100%;
                top: 18px;
                left: 0;
                box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.3);
                z-index: 2;
              }
              tr{  width: calc(100% - 4px);  }
            }
            tbody{
              display: block;
              width: 100%;
              overflow: hidden;
              overflow-y: auto;
              transition: 0.4s ease-out;
              position: relative;
              @include scroll;
              text-align: center;
              tr{
                display: block;
                &.visible{
                  display: table;
                  @include trader_table_tr;
                  td:nth-of-type(1){  width: 20%;  } //58px
                  td:nth-of-type(5){  width: 20%;  } //68px
                }
              }
            }
            tr{
              display: table;
              width: 100%;
              table-layout: fixed;
              overflow: hidden;
            }
            th{
              &:nth-of-type(1){  width: 20%;  }//58px
              &:nth-of-type(5){  width: 20%; }//68px
              &:last-of-type{  border-right: none;  }
            }
            td{
							user-select: none;
              transition: 0.4s ease-out;
              &:nth-of-type(1){  width: 60px;  }
              &:nth-of-type(5){  width: 68px; }
              &.active{  cursor: pointer;  }
              &.price_value.active{
								position: relative;
								z-index: 4;
                &:not(.best_buy):not(.best_sell){
                  background: $trader_spread_button_bg;
                }
                &.hovered{  background: #ffc11a !important;  }
              }
              &:last-of-type{  width: 0;  }
              &.size span.value, &.price span.value{  position: relative;  z-index: 3;  }
              &.my_bids.animated,
              &.my_offers.animated{
                position: relative;
              }
              &.size.animated .value,
              &.my_bids.animated .value,
              &.my_offers.animated .value {
                position: static;
                &:after{
                  content: '';
                  display: block;
                  height: 100%;
                  width: 100%;
                  position: absolute;
                  top: 0;
                  left: 0;
                  transition: 0.4s ease-out;
                  z-index: 2;
                }
              }
              &.size .container:not(.best_buy):not(.best_sell):after,
              &.size .container:not(.best_buy):not(.best_sell):before{
                content: '';
                display: block;
                width: 100%;
                //width: 0;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                transition: 0.4s ease-out;
                opacity: 0.2;
                z-index: 1;
                transform: translateX(-50%) scaleX(0.01);
              }
              &.size .container:not(.best_buy):not(.best_sell):before{
                transition: 0.3s ease-out;
                z-index: 2;
              }
              &.size.size_sell .container:not(.best_buy):not(.best_sell):before,
              &.size.size_sell .container:not(.best_buy):not(.best_sell):after{
                transform: translateX(50%) scaleX(0.01);
              }
              &.clickable{  cursor: pointer; }
              &.size_sell{
                background-color: transparentize(#ef4d22, 0.92);
                &.clickable{
                  &:hover .container:before{
                    transform: translateX(-51%) scaleX(2.01) !important;
                    background: #f88447;
                  }
                  //.container:after{
                  //  transform: scaleX(1) !important;
                  //  background: #ffcbc2;
                  //}
                }
              }
              &.best_sell, &.best_buy{
                @include btn-hover;
              }
              &.best_sell{
                color: #ffffff;
								background-image: linear-gradient(to bottom, #f88447, #ef4d22); font-weight: bold;  }
              &.size_buy{
                background-color: transparentize(#64c9ef, 0.92);
                &.clickable{
                  &:hover .container:before{
                    transform: translateX(51%) scaleX(2.01) !important;
                    background: #64c9ef;
                  }
                  //.container:after{
                  //  transform: scaleX(1) !important;
                  //  background: #b5e5ec;
                  //}
                }
              }
              &.best_buy{
                color: #ffffff;
								background-image: linear-gradient(to bottom, #64c9ef, #3498da); font-weight: bold;  }
						}
          }
          #order_content{
            visibility: hidden;
            margin: 0;
            padding: 0;
            background: $order_sidebar_bg;
            box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.5);
            font-weight: normal;
            transition: 0.5s ease-out;
            &.active{
							transform: translateY(-5px);
              //margin-top: 0 !important;
              opacity: 1 !important;
            }
            form{
              margin-bottom: 0;
              border-radius: 0;
            }
            input{
              text-align: center;
              padding-right: 5px;
            }
            .delete{
              width: 33.33%;
              height: 31px;
              position: relative;
              border-left: none;
            }
            @include trader_order_delete;
          }
        }
        .tab_item {
          display: none;
          padding-bottom: 35px;
          overflow-x: hidden;
          @include scroll;
          transition: 0.4s ease-out;
          .default_orders, &#current-orders{
            border-top: 1px solid $order_sidebar_head_separator;
          }
          &#order p#default_order_info{
            padding: 10px 15px;
            font-size: 14px;
            color: #b1b1b1;
            text-transform: lowercase;
            &::first-letter{  text-transform: uppercase;  }
          }
          .default_orders{
            .order_content .order-title{
              display: flex;
              justify-content: space-between;
              background: linear-gradient(to bottom, #53515e, #292830);
              position: relative;
              h3, .current-order{  color: #ffffff;  }
              h3{  line-height: 20px;  }
              strong.last-price{  margin-top: 0;  }
              a.close{
                margin-right: 0;
                position: absolute;
                top: 4px;
                right: 1px;
              }
            }
            .order_content form .container .obligations label{  width: calc(100% - 18px);  }
          }
          &#current-orders{
            overflow-y: auto;
            .order_content{
              &:last-child{  padding: 0;  }
              &.ui-sortable-handle .order-title{  cursor: move;  }
              .order-title{
                padding: 5px 30px 5px 15px;
                background: linear-gradient(to bottom, #53515e, #292830);
                @include md(1400){  padding: 5px 20px 5px 5px;  }
              }
              form input[type="submit"]{  border-left: none;  }
              .close{
                margin: 0;
                position: absolute;
                top: calc(50% - 8px);
                right: 1px;
              }
            }
          }
          //@keyframes pulse {
          //  0% {  transform: scale3d(1, 1, 1);  }
          //  100% {  transform: scale3d(1, 10, 1);  }
          //}
          .ui-state-highlight{
            height: 100px;
            margin-bottom: 15px;
            border: 1px dashed #fcefa1;
            //animation-name: pulse;
            //animation-duration: 0.5s;
            //animation-fill-mode: both;
          }
          .spread_confim{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 5;
            transition: 0.4s ease-out;
            .sell, .buy{
              display: block;
              width: 0;
              height: 100%;
              color: #ffffff;
              text-align: center;
              @include btn-hover;
              position: absolute;
              top: 0;
              padding: 0;
              transition: 0.4s ease-out;
              overflow: hidden;
            }
            .sell{
              left: 100%;
              background-image: linear-gradient(to bottom, #f88447, #ef4d22);
            }
            .buy{
              right: 100%;
              background-image: linear-gradient(to bottom, #64c9ef, #3498da);
            }
            &.active{
              span.confim_button{
                border: 1px solid $order_sidebar_order_border_color;
              }
              .sell, .buy{
                width: calc(100% + 1px);
                height: calc(100% + 2px);
                padding: 0 5px;
                top: -1px;
              }
              .sell{  width: calc(100% + 2px);  }
            }
          }
          .order_content {
            padding-bottom: 10px;
            .order_container{
              border-bottom: 1px solid $order_sidebar_head_separator;
              position: relative;
              &:last-child{  border-bottom: none;  }
              &:before{
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                position: absolute;
                top: 0;
                left: 0;
                background: rgba(255, 255, 255, 0.1);
              }
            }
            .order_info{
              padding: 5px 44px 5px 15px;
              position: relative;
              @include md(1400){
                padding: 5px 44px 5px 5px;
              }
              &.buy{
                background: linear-gradient(to bottom, transparentize(#64C9EF, 0.7), transparentize(#3498DA, 0.7));
                @include order_sidebar_current_order_title_buy;
              }
              &.sell{
                background: linear-gradient(to bottom, transparentize(#F88447, 0.9), transparentize(#EF4D22, 0.9));
                @include order_sidebar_current_order_title_sell;
              }
            }
            .order-title{
              padding: 5px 20px 5px 15px;
              //@include scroll;
              position: relative;
              overflow: hidden;
            }
            .container{
              display: flex;
              justify-content: space-between;
              align-items: center;
              //&:nth-child(2){
              //  justify-content: flex-start;
              //}
            }
            h3{
              margin-right: 10px;
              max-width: 140px;
              font-size: 13px;
              vertical-align: middle;
              color: transparentize(#ffffff, 0.2);
            }
            .timestamp{
              font-size: 10px;
              .time{  color: $order_sidebar_current_order_title_color;  }
            }
            a.close{
              float: right;
              margin-top: 4px;
              margin-right: 2px;
              height: 16px;
              width: 16px;
              position: relative;
              //border-radius: 50%;
              //border: 1px solid #fff;
              &:hover{
                &:before, span:before{  transform: rotate(90deg);  }
                &:after, span:after{  transform: rotate(-90deg);  }
                //&:before{  transform: rotate(135deg);  }
                //&:after{  transform: rotate(45deg);  }
                //span{
                //  &:before{  transform: rotate(135deg);  }
                //  &:after{  transform: rotate(45deg);  }
                //}
              }
              &:before, &:after, span:before, span:after{
                content: '';
                display: block;
                width: 4px;
                height: 12px;
                position: absolute;
                top: calc(50% - 6px);
                left: calc(50% - 2px);
                background: #fff;
                border-radius: 2px;
                transition: 0.4s ease-out;
              }
              &:before{  transform: rotate(45deg);  }
              &:after{  transform: rotate(-45deg);  }
              span{
                display: block;
                height: 100%;
                &:before, &:after{
                  width: 2px;
                  height: 10px;
                  top: calc(50% - 5px);
                  left: calc(50% - 1px);
                  background: #292830;
                  z-index: 2;
                }
                &:before{  transform: rotate(45deg);  }
                &:after{  transform: rotate(-45deg);  }
              }
            }
            strong {
              display: inline-block;
              padding-right: 6px;
              font-size: 12px;
              color: transparentize($order_sidebar_current_order_title_color, 0.5);
              line-height: 22px;
              &.current-order{
                color: transparentize(#ffffff, 0.2);
                &.up span{  color: #3498da;  }
                &.down span{  color: #ef4d22;  }
              }
              &.last-price{
                margin-top: -1px;
                vertical-align: middle;
                &:before{
                  content: '';
                  display: inline-block;
                  width: 9px;
                  height: 9px;
                  vertical-align: middle;
                  background: url("../Images/sprite.svg") no-repeat;
                }
                &.up{
                  color: #1196d4;
                  &:before{
                    margin-top: -2px;
                    background-position: -234px -155px;
                    //margin-top: 2px;
                    //margin-right: 2px;
                    //border: 4px solid transparent;
                    //border-bottom: 8px solid #ef4d22;
                  }
                }
                &.down{
                  color: #ef4d22;
                  &:before{
                    background-position: -234px -135px;
                    //margin-top: 7px;
                    //margin-right: 2px;
                    //border: 4px solid transparent;
                    //border-top: 8px solid red;
                  }
                }
              }
              .price, .volume {
                color: $order_sidebar_current_order_title_color;
                font-family: 'open_sans_bold', sans-serif;
              }
            }
            .edit, .delete{
              //display: flex;
              //align-items: center;
              //justify-content: center;
              width: 22px;
              height: 33px;
              padding: 0;
              border-radius: 0;
              position: absolute;
              top: 0;
              cursor: pointer;
              transition: 0.4s ease-out;
              &:hover{  background-color: rgba(0, 0, 0, 0.1);  }
              &:active{  background-color: rgba(255, 255, 255, 0.5);  }
              &:after{
                content: '';
                display: block;
                width: 13px;
                height: 14px;
                position: absolute;
                top: calc(50% - 6px);
                left: calc(50% - 7px);
              }
            }
            .price, .volume{
              input.number[disabled]{
                border-right: 1px solid $order_sidebar_order_border_color;
              }
            }
            .edit{
              right: 22px;
              &:after{  background: $order_sidebar_order_edit;  }
            }
            .delete{
              right: 0;
              &:after{  background: $order_sidebar_order_delete;  }
            }
            .pop_up{  position: absolute;  background: rgba(0, 0, 0, 0.5); }
            .confirmation{
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 100%;
              position: absolute;
              top: 0;
              left:0;
              background: rgba(0, 0, 0, 0.65);
              border: 1px dashed #9b9b9b;
              cursor: default;
              transition: 0.4s ease-out;
              button{
                width: 68px;
                height: 25px;
                margin: 0 5px;
                border-radius: 6px;
                line-height: 18px;
                font-size: 12px;
                font-weight: 600;
                &.no{
                  color: #211e25;
                  background-image: linear-gradient(to top, #bdc0cd, #ffffff);
                }
                &.yes{
                  background-image: linear-gradient(to bottom, #f8b747, #ef8022);
                }
              }
            }
            .error_pop_up {
              display: none;
              height: 100%;
              padding: 10px;
              position: absolute;
              top: 0;
              left: 100%;
              z-index: 6;
              color: #ef4d22;
              background: rgba(0, 0, 0, 0.8);
              &.active{
                display: block;
                left: 0;
                animation-duration: 0.7s;
                animation-fill-mode: both;
              }
              .container{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
              }
              .close{
                width: 16px;
                height: 16px;
                position: absolute;
                top: 1px;
                right: 1px;
                cursor: pointer;
              }
            }
            .sell-container form{  background: linear-gradient(to bottom, transparentize(#f88447, 0.9), transparentize(#ef4d22, 0.9));  }
            .buy-container form{  background: linear-gradient(to bottom, transparentize(#64c9ef, 0.9), transparentize(#3498da, 0.9));  }
            .sell-buy-container form{
              background: linear-gradient(to left, transparentize(#ef4d22, 0.9), transparentize(#3498da, 0.9));
              .price, .volume{  width: 40%;  }
              .success, .delete{
                width: 20% !important;
                height: 59px !important;
              }
              .success_btn{
                border: none;
                position: relative;
                z-index: 1;
              }
              .delete{
                &:hover{  background: $trader_order_button_hover;  }
                &:active{  background: $trader_order_button_active;  }
                box-shadow: none;
                border-bottom: none;
              }
              .success{
                position: relative;
                &:after{
                  content: '';
                  display: block;
                  width: 24px;
                  height: 24px;
                  position: absolute;
                  top: calc(50% - 12px);
                  left: calc(50% - 12px);
                  background: url(../Images/sprite.svg) $trader_button_success no-repeat;
                }
              }
              .success_btn{
                width: 100%;
                height: 100%;
                box-shadow: none;
                border-top: 1px solid $order_sidebar_order_border_color;
                background: transparent;
                &:hover{  background: $trader_order_button_hover;  }
                &:active{
                  box-shadow: none !important;
                  background: $trader_order_button_active;
                }
              }
            }
						//
            //input[id='usd_uah'] {
            //  width: 90%;
            //  height: 31px;
            //  border: 2px solid #d7d7d8;
            //  border-radius: 5px;
            //  padding-left: 10px;
            //  color: #707070;
            //  font-weight: bold;
            //  margin-bottom: 10px;
            //}
            form {
              text-align: center;
              position: relative;
              .container{
                display: flex;
                .price label, .volume label{  border-left: none;  }
                .obligations{
                  label{
                    border-left: none;
                    border-right: none;
                  }
                  .warning{
                    left: auto;
                    right: 0;
                    &:before{  left: 88px;  }
                    &:after{  left: 83px;  }
                  }
                }
              }
              //.col-3{
              //  display: inline-block;
              //  width: 32%;
              //  vertical-align: bottom;
              //}
              .input{
                width: 100%;
                text-align: left;
                input{
                  width: calc(100% - 18px);
                  padding-right: 10px;
                  font-size: 14px;
                  &[disabled]{  width: 100%;  }
                }
              }
              .col-3 .btn{  display: inline-block;  width: 46%;  background-size: 18px;  vertical-align: bottom;  }
              .cancel{  background: url("../Images/ico-delete.png") no-repeat center;  }
              label:not(.checkbox){
                display: block;
                width: 100%;
                padding: 4px 0;
                color: $order_sidebar_order_label_color;
                font-weight: 600;
                text-align: center;
                border: 1px solid $order_sidebar_order_border_color;
                span{
                  color: #37343b;
                  font-weight: 400;
                }
              }
              input {
                height: 31px;
                padding-left: 10px;
                text-align: center;
                @include order_sidebar_order_input;
              }
              .switch{
                width: 33.33%;
                height: 31px;
                border-top: 1px solid $order_sidebar_order_border_color;
                border-right: 1px solid $order_sidebar_order_border_color;
                label.checkbox{
                  width: 100%;
                  //padding-left: calc(6% + 25px);
                  padding: 0;
                  border: none;
                  text-align: center;
                  span{
                    position: relative;
                    &:before{
                      left: -20px;
                    }
                    &:after{
                      left: -19px;
                    }
                  }
                }
                .profit{
                  padding: 0;
                  color: $main-color;
                  span{  color: #4dac2e;  }
                }
              }
              label.checkbox{
                display: block;
                width: 33.33%;
                height: 31px;
                color: #707070;
                line-height: 31px;
                text-align: left;
                border-top: 1px solid $order_sidebar_order_border_color;
                border-right: 1px solid $order_sidebar_order_border_color;
                @include checkbox_vertical;
                padding-left: calc(6% + 25px);
                &>span{
                  color: $checkbox_label_color;
                  &:before{  left: calc(6% + 16px); background: #4dac2e; transition: 0.4s ease-out;  }
                  &:after{  left: calc(6% + 17px);  }
                }
                input:checked ~ span{
                  &:before{  background: #ef8022;  }
                }
              }
              .delete{
                display: flex;
                width: 18px;
                height: 28px;
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;
                border: 1px solid $order_sidebar_order_border_color;
                border-right: none;
              }
              button {
                height: 31px;
                font-size: 14px;
                &.sell{  background-color: #ff4444;  }
                &.buy{  background-color: #2dc7ca;  }
                //&.success{  background: url("../Images/ico-success-w.png") no-repeat center #969696;  }
              }
              input[type="submit"]{
                width: 66.66%;
                height: 31px;
                padding: 0;
                font-size: 12px;
                color: #ffffff;
                border: 1px solid $order_sidebar_order_border_color;
                border-bottom: none;
                border-left: none;
                cursor: pointer;
                transition: 0.4s ease-out;
                &.sell{  background-image: linear-gradient(to bottom, #f88447, #ef4d22);  }
                &.buy{  background-image: linear-gradient(to bottom, #64c9ef, #3498da);  }
              }
            }
          }
          .order_content:last-child {
            border-bottom: none;
          }
        }
        .tab_item:first-child {
          display: block;
        }
      }
      .order_content{
        &.sell .my_order{
          .order-title, .current-order-title{
            background-color: #fff1f1;
            //background: linear-gradient(to bottom, #ff6464, #921515);
          }
        }
        &.buy .my_order{
          .order-title, .current-order-title{
            background-color: #ebf7f9;
            //background: linear-gradient(to bottom, #2D8A8E, #1A484A);
          }
        }
      }
      .my_order{
        .form-container{
          display: none;
          margin-bottom: 10px;
          form{
            margin: 0;
            text-align: center;
            &.sell{  background: linear-gradient(to bottom, transparentize(#f88447, 0.9), transparentize(#EF4D22, 0.9));  }
            &.buy{  background: linear-gradient(to bottom, transparentize(#64C9EF, 0.9), transparentize(#3498DA, 0.9));  }
          }
          //p.label{
          //  padding-left: 5px;
          //  font-size: 14px;
          //  color: #666666;
          //  text-align: left;
          //}
        }
        .order-title{  padding-left: 5px; }
        .current-order-content{
          padding: 5px 5px 10px;
          text-align: center;
          .btn{  width: 100%!important;  }
        }
      }
    }
  }
}



