.sign_up_form{
  .header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    .logo_container {
      width: 160px;
      height: 65px;
    }
    .logo {
      display: block;
      height: 100%;
      background: url(../Images/sprite.svg) no-repeat -11px -11px;
      color: transparent;
      position: relative;
      @include xsmax($xsmax){  width: 90%;  float: right;  }
      &:after{
        content: '';
        display: block;
        width: 1px;
        height: 40px;
        position: absolute;
        top: 13px;
        right: 0;
        background: #000000;
      }
    }

    .warning_container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 165px;
      height: 40px;
      border-left: 1px  solid;
      border-color: rgba(255, 255, 255, 0.2);
      text-align: left;
      position: relative;
      &:before{
        content: '18+';
        display: block;
        width: 24px;
        height: 24px;
        background: #ef4d22;
        border-radius: 50%;
        font-family: "open_sans_regular", sans-serif;
        font-size: 10px;
        color: #ffffff;
        line-height: 24px;
        text-align: center;
      }
      span{
        color: #fff;
        font-size: 11px;
        margin-left: 10px;
        vertical-align: middle;
      }
      @include xsmax($xsmax){
        &:before{  left: 9px;  }
        span{  margin-left: 20px;  }
      }
    }
  }
  .confirm{
    background: transparent;
    z-index: 75;
    span{
      display: block;
      width: 300px;
      padding: 10px;
      background: #ffffff;
      border-radius: 4px;
      border: 1px solid #000;
      text-align: center;
      position: relative;
      &:before{
        content: '';
        display: block;
        width: 320px;
        height: calc(100% + 20px);
        background: linear-gradient(to bottom, #53515e, #292830);
        box-shadow: 0 0 20px -1px rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        position: absolute;
        top: -10px;
        left: -10px;
        z-index: -1;
      }
    }
    button{
      display: block;
      margin: 0 auto;
      width: 150px;
      background-image: linear-gradient(to bottom, #84d65b, #4dac2e);
    }
  }
  .tabs{
    display: flex;
    margin-bottom: 10px;
    border-radius: 4px;
    overflow: hidden;
    .tab{
      width: 33%;
      margin-right: 1px;
      padding: 18px 0;
      flex-grow: 1;
      background: linear-gradient(to bottom, #53515e, #292830);
      color: #ffffff;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1.6px;
      font-family: "open_sans_regular", sans-serif;
      font-size: 14px;
      font-weight: 600;
      &:last-child{  margin-right: 0;  }
      &.active{
        color: #292830;
        background: linear-gradient(to top, #bdc0cd, #ffffff);
      }
    }
  }
  .tab_content{
    width: 760px;
    padding: 30px;
    border-radius: 4px;
    background-image: $sign_in_bg;
    @include scroll;
    .tab_item{
      display: none;
      &:first-child{
        display: block;
      }
      //&.real{
        .column{
          width: 50%;
          float: left;
        }
        h2{
          margin-bottom: 10px;
          font-size: 24px;
          font-weight: normal;
          color: $reg_title;
        }
        .left_column{  padding-right: 20px;  margin-bottom: 20px;  }
        .right_column{  padding-left: 20px;  margin-bottom: 20px; }
      //}
      &.demo{
        .container{  text-align: center;  }
        .wave{  border-radius: 4px; }
        input[type=submit]{
          display: block;
          width: 295px;
          margin: 0 auto;
        }
      }
      &.m_maker{
        p{
          margin-bottom: 15px;
          font-size: 14px;
          color: $reg_title;
        }
      }
    }
    label{
      display: block;
      color: #8b8c8b;
    }

    input[type=submit]{
      width: 100%;
      padding: 15px 0;
      border-radius: 4px;
      background: #f39e00;
      color: #ffffff;
      text-align: center;
      cursor: pointer;
      @include btn-shadow;
    }

    .show_password{
      position: absolute;
      top: 35px;
      right: 5px;
    }

    .info{
      display: block;
      width: 12px;
      height: 12px;
      background: $help_block;
      position: absolute;
      top: 41px;
      right: 5px;
      z-index: 70;
      opacity: 0.5;
      cursor: help;
      transition: 0.4s ease-out;
      @include reg_help_message;
      &.top{
        i{
          bottom: 19px;
          right: -15px;
          color: transparentize($checkbox_label_color, 0.5);
          &:before{  bottom: 0;  right: 9px;  }
          &:after{  bottom: -5px; right: 15px;  }
        }
      }
      &.bottom{
        i{
          top: 19px;
          right: -15px;
          z-index: 500;
          color: transparentize($checkbox_label_color, 0.5);
          &:before{  top: 0;  right: 9px;  }
          &:after{  top: -5px; right: 15px; box-shadow: -5px -5px 10px -3px rgba(0, 0, 0, 0.5); }
        }
      }
      &:hover{
        opacity: 1;
        i{
          visibility: visible;
          opacity: 1;
          &:before, &:after{  opacity: 1;  }
        }
      }
      i{
        visibility: hidden;
        width: 295px;
        padding: 5px 10px;
        position: absolute;
        border-radius: 4px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
        opacity: 0;
        transition: 0.4s ease-out;
        &:before{
          content: '';
          opacity: 0;
          display: block;
          width: 25px;
          height: 10px;
          position: absolute;
          z-index: 1;
          border-radius: 4px;
        }
        &:after{
          content: '';
          opacity: 0.5;
          display: block;
          width: 13px;
          height: 13px;
          position: absolute;
          border-radius: 0 4px 0 0;
          transform: rotate(45deg);
          box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.5);
          transition: 0.4s ease-out;
        }
      }
    }

    .input--yoshiko{
      padding: 1.7em 0 10px;
      position: relative;
      .validation-summary-errors{
        display: inline-block;
        max-width: 225px;
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    .input__field--yoshiko {
      width: 100%;
      padding: 0.4em 0.8em;
      border-radius: 4px;
      transition: background-color 0.3s, border-color 0.3s;
      @include reg_input_color;
      &[disabled]{
        & ~ .info{  display: none;  }
      }
    }
    textarea.input__field--yoshiko{
      height: 39px;
      min-height: 39px !important;
    }

    .input__label--yoshiko {
      width: 100%;
      text-align: left;
      position: absolute;
      top: -17px;
      pointer-events: none;
      overflow: hidden;
      padding: 0 0.8em;
      transform: translate3d(0, 3em, 0);
      transition: transform 0.3s;
      font-size: 14px;
    }

    .input__label-content--yoshiko {
      color: #8B8C8B;
      padding: 9px 0;
      transition: transform 0.3s;
    }

    .input__label-content--yoshiko::after {
      content: attr(data-content);
      position: absolute;
      bottom: 26px;
      left: 0;
      height: 100%;
      width: 100%;
      padding: 0.25em 0;
    }

    .input__field--yoshiko:focus ~ .input__label--yoshiko,
    .input--filled .input__label--yoshiko {
      transform: translate3d(0, 0, 0);
      padding-left: 0;
    }

    .input__field--yoshiko:focus ~ .input__label--yoshiko .input__label-content--yoshiko,
    .input--filled .input__label-content--yoshiko {
      transform: translate3d(0, 100%, 0);
    }

    .input__field--yoshiko[disabled] ~ .input__label--yoshiko .input__label-content--yoshiko{
      color: transparentize(#8b8c8b, 0.6);
    }
    .input-validation-error{
      color: #ff3905;
      box-shadow: inset 0 0 10px transparentize(#ff3905, 0.7);
      border: 1px solid transparentize(#ff3905, 0.7);
      //& ~ .input__label--kuro{
      //  &:before, &:after{
      //    border-color: #ff3905;
      //  }
      //}
    }

    .valid{
      color: #4dac2e;
      box-shadow: inset 0 0 10px transparentize(#4dac2e, 0.7);
      border: 1px solid transparentize(#4dac2e, 0.7);
      //& ~ .input__label--kuro{
      //  &:before, &:after{
      //    border-color: #4dac2e;
      //  }
      //}
    }

    .call_time{
      padding-bottom: 10px;
      .container{
        display: flex;
        align-items: center;
        height: 39px;
        label{
          margin: 0;
          margin-right: 30px;
          position: relative;
          @include radio_button;
          &:after{
            content: '';
            display: block;
            width: 17px;
            height: 16px;
            position: absolute;
            top: 3px;
            left: 0;
            background: url("../Images/sprite.svg") no-repeat;
          }
          @include reg_contact_method;
          span {  padding-left: 20px;
            margin-left: 25px; }
        }
      }
      label{
        margin-bottom: 6px;
        font-size: 14px;
      }
    }

    .birthday{
      margin-top: 3px;
      margin-bottom: 10px;
      .container{
        display: flex;
        justify-content: space-between;
      }
      label{  margin-bottom: 9px;  margin-top: -6px; font-size: 14px; }
      input{  width: 26%;  }
      .validation-summary-errors{  float: right;  }
    }

    hr{
      clear: both;
      margin: 20px 0;
      @include reg_separator;
    }

    .agreement{
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 50%;
      height: 54px;
      float: left;
      padding-right: 20px;
      input{  display: none;  }
      input:checked + label{  color: $checkbox_label_color;  }
      input:checked + label:before{  background-position: -20px -140px;  }
      label{
        color: transparentize($checkbox_label_color, 0.4);
        font-size: 12px;
        transition: 0.4s ease-out;
        &:before{
          content: '';
          display: inline-block;
          margin-top: -3px;
          margin-right: 10px;
          width: 16px;
          height: 16px;
          background: url("../Images/sprite.svg") no-repeat -20px -160px;
          vertical-align: middle;
        }
      }
    }
    
    .submit{
      width: 50%;
      float: left;
      padding-left: 20px;
      border-radius: 4px;
      .submit{  width: 100%;  padding-left: 0; }
    }
  }
}
#__lpform_f_name, #__lpform_l_name, #__lpform_n_name, #__lpform_c_name, #__lpform_s_name, #__lpform_t_number, #__lpform_e_name, #__lpform_r_pass, #__lpform_r_confirm_pass, #__lpform_answer_icon, #__lpform_currency{
  display: none !important;
  visibility: hidden;
}