.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
}

.fadeIn {  animation-name: fadeIn;  }
.lightSpeedIn {  animation-name: lightSpeedIn;  }
.lightSpeedInLeft {  animation-name: lightSpeedInLeft;  }
.bounceInUp {  animation-name: bounceInUp;  }
.fadeInRight {  animation-name: fadeInRight;  }
.rubberBand {  animation-name: rubberBand;  }
@keyframes fadeIn {
	0% {  opacity: 0;  }
	100% {  opacity: 1;  }
}
@keyframes lightSpeedIn {
	0% {  transform: translate3d(100%, 0, 0) skewX(-30deg);  opacity: 0;  }
	60% {  transform: skewX(20deg);  opacity: 1;  }
	80% {  transform: skewX(-5deg); opacity: 1;  }
	100% {  transform: none;  opacity: 1;  }
}
@keyframes lightSpeedInLeft {
	0% {  transform: translate3d(-100%, 0, 0) skewX(30deg);  opacity: 0;  }
	60% {  transform: skewX(-20deg);  opacity: 1;  }
	80% {  transform: skewX(5deg); opacity: 1;  }
	100% {  transform: none;  opacity: 1;  }
}
@keyframes bounceInUp {
	0%, 60%, 75%, 90%, 100% {  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);  }
	0% {  opacity: 0;  transform: translate3d(0, 3000px, 0);  }
	60% {  opacity: 1;  transform: translate3d(0, -20px, 0);  }
	75% {  transform: translate3d(0, 10px, 0);  }
	90% {  transform: translate3d(0, -5px, 0);  }
	100% {  opacity: 1; transform: translate3d(0, 0, 0);  }
}
@keyframes fadeInRight {
	0% {  opacity: 0;  transform: translate3d(100%, 0, 0);  }
	100% {  opacity: 1;  transform: none;  }
}

@keyframes rubberBand {
	0% {  transform: scale3d(1, 1, 1);  }
	30% {  transform: scale3d(1.25, 0.75, 1);  }
	40% {  transform: scale3d(0.75, 1.25, 1);  }
	50% {  transform: scale3d(1.15, 0.85, 1);  }
	65% {  transform: scale3d(.95, 1.05, 1);  }
	75% {  transform: scale3d(1.05, .95, 1);  }
	100% {  transform: scale3d(1, 1, 1);  }
}


@font-face {
	font-family: 'opensans_bold';
	src: url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
	url('../fonts/opensans-extrabold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'opensans_normal';
	src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
	url('../fonts/opensans-regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

//убрать эти свойства
//body, html{
	//margin: 0;
	//padding: 0;
	//min-width: 320px;
	//height: 100%;
	//background: linear-gradient(to bottom, #3b3a44, #292830);
//}
//убрать эти свойства

.tizer_wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	overflow: hidden;
	&:after{
		content: '';
		display: block;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		background-color: #000000;
		opacity: 0.3;
		z-index: 1;
	}
	a{  text-decoration: none;  }
	.video_bg{
		min-width: 100%;
		min-height: 100%;
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 1;
		background: linear-gradient(to bottom, #3b3a44, #292830);
	}
	.tizer_header {
		width: 350px;
		margin-top: 2%;
		position: relative;
		z-index: 3;
		.logo_container {
			width: 160px;
			height: 65px;
		}
		.logo {
			display: block;
			height: 100%;
			background: url("../Images/tize_sprite.svg") no-repeat;
			background-position: -3px -9px;
			color: transparent;
			@include xsmax($xsmax){  width: 90%;  float: right;  }
		}

		.warning_container {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 165px;
			height: 40px;
			border-left: 1px  solid;
			border-color: rgba(255, 255, 255, 0.2);
			position: relative;
			&:before{
				content: '';
				display: block;
				width: 24px;
				height: 24px;
				background: url("../Images/tize_sprite.svg") no-repeat;
				background-position: -50px -90px;
				position: absolute;
				top: calc(50% - 12px);
				left: 25px;
			}
			span{
				color: #fff;
				font-size: 11px;
				margin-left: 55px;
				vertical-align: middle;
			}
			@include xsmax($xsmax){
				&:before{  left: 9px;  }
				span{  margin-left: 20px;  }
			}
		}
	}
	.elements_container {
		display: flex;
		justify-content: center;
		align-items: center;
		border-bottom:1px  solid;
		border-color: rgba(255, 255, 255, 0.2);
		padding-bottom: 1%;
	}
	.tizer_content{
		text-align: center;
		position: relative;
		z-index: 3;
		h1{
			font-family: opensans_bold, sans-serif;
			font-size: 64px;
			font-weight: 800;
			color: #cfcfcf;
			margin: 0;
			opacity: 0;
			@include mdmax($mdmax){  font-size: 50px;  }
			@include smmax($smmax){  font-size: 35px;  }
			@include xsmax($xsmax){  font-size: 20px;  }
		}
		& > span{
			display: block;
			width: 430px;
			margin: 0 auto;
			font-family: opensans_normal, sans-serif;
			font-size: 15px;
			font-weight: normal;
			color: #ffffff;
			text-align: left;
			opacity: 0;
			@include xsmax($xsmax){  width: 300px;  padding: 0 10px;}
		}
		form{
			max-width: 430px;
			margin: 2% auto 0;
			position: relative;
			text-align: left;
			@include xsmax($xsmax){  width: 305px;  }
			label{  display: inline-block;  position: relative; opacity: 0;  vertical-align: top; }
			input[type="email"]{
				width: 240px;
				height: 42px;
				padding: 10px 10px 12px 35px;
				font-size: 16px;
				border-radius: 4px 0 0 4px;
				outline: none;
				border: 1px solid #c0c0c0;
				background: #ffffff;
				vertical-align: top;
				@include xsmax($xsmax){
					width: 185px;
				}
			}
			input[type="submit"]{
				height: 42px;
				color: #fff;
				border: none;
				border-radius: 0;
				outline: none;
				background-image: linear-gradient(to bottom, #64c9ef, #3498da);
				padding: 0 15px;
				margin-left: -3px;
				font-size: 16px;
				cursor: pointer;
				transition: 0.4s ease;
				opacity: 0;
				vertical-align: top;
				@include xsmax($xsmax){  padding: 0 5px;  }
				&:hover{  background-image: linear-gradient(to bottom, #61bce1, #3190ce);  }
				&:active{  background-image: linear-gradient(to bottom, #3190ce, #61bce1);  }
			}
			span.mail_logo{
				display: block;
				position: absolute;
				width: 23px;
				height: 23px;
				left: 0;
				top: 9px;
				background: url("../Images/tize_sprite.svg") no-repeat;
				background-position: -16px -84px;
				margin-left: 5px;
			}
			.twitter-share-button{
				display: inline-flex;
				align-items: center;
				height: 42px;
				padding: 0 13px;
				margin-left: -3px;
				background: linear-gradient(to bottom, #33c7ff, #1b95e0);
				border-radius: 0 4px 4px 0;
				transition: 0.4s ease;
				opacity: 0;
				@include xsmax($xsmax){  padding: 0 5px;  }
				&:active{  background: linear-gradient(to bottom, #1b95e0, #33c7ff);	}
				span{
					display: inline-block;
					margin-left: 3px;
					color: #ffffff;
				}
				i{
					display: inline-block;
					position: relative;
					width: 14px;
					height: 14px;
					background: transparent 0 0 no-repeat;
					background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2072%2072%22%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h72v72H0z%22%2F%3E%3Cpath%20class%3D%22icon%22%20fill%3D%22%23fff%22%20d%3D%22M68.812%2015.14c-2.348%201.04-4.87%201.744-7.52%202.06%202.704-1.62%204.78-4.186%205.757-7.243-2.53%201.5-5.33%202.592-8.314%203.176C56.35%2010.59%2052.948%209%2049.182%209c-7.23%200-13.092%205.86-13.092%2013.093%200%201.026.118%202.02.338%202.98C25.543%2024.527%2015.9%2019.318%209.44%2011.396c-1.125%201.936-1.77%204.184-1.77%206.58%200%204.543%202.312%208.552%205.824%2010.9-2.146-.07-4.165-.658-5.93-1.64-.002.056-.002.11-.002.163%200%206.345%204.513%2011.638%2010.504%2012.84-1.1.298-2.256.457-3.45.457-.845%200-1.666-.078-2.464-.23%201.667%205.2%206.5%208.985%2012.23%209.09-4.482%203.51-10.13%205.605-16.26%205.605-1.055%200-2.096-.06-3.122-.184%205.794%203.717%2012.676%205.882%2020.067%205.882%2024.083%200%2037.25-19.95%2037.25-37.25%200-.565-.013-1.133-.038-1.693%202.558-1.847%204.778-4.15%206.532-6.774z%22%2F%3E%3C%2Fsvg%3E");
				}
			}
		}
	}
	.copyright{
		position: fixed;
		left: 0;
		bottom: 0;
		z-index: 3;
		opacity: 0;
		@include lgmax($lgmax){  right: 0;  background: #212023;  }
		p{
			padding-left: 5px;
			color: #fff;
			font-family: sans-serif;
			font-size: 11px;
		}
	}
	.tizer_background{
		position: fixed;
		bottom: 0;
		left: 0;
		height: 56%;
		width: 100%;
		background: url("../Images/tize_bg.png") no-repeat center bottom;
		background-size: contain;
		z-index: 2;
		@include lgmax($lgmax){  bottom: 16px;  }
	}
	.validation-summary-valid, .validation-summary-errors{  padding: 5px 0 5px 3px; opacity: 0;  text-align: left;  }
	.validation-summary-valid span {  color: #3190ce !important;  }
	.validation-summary-errors span {  color: red !important;  }
	.validation-summary-errors ul, .validation-summary-errors li {
		list-style: none;
		display: none;
		padding: 0;
		text-align: left;
	}
}